<launch>
    <!-- <node name="Interface" pkg="fish_respirometry_system" type="interface.py" output="screen"/> -->
    <node name="CameraControl" pkg="fish_respirometry_system" type="cameraControl.py" output="screen"/>
    <!-- <node name="OperationControl" pkg="fish_respirometry_system" type="operationControl.py" output="screen"/> -->
    <!-- <node name="OxygenMeter" pkg="fish_respirometry_system" type="oxygenMeter.py" output="screen"/> -->
</launch>